html {
  // font-size: 16px;
  font-size: 14px;

  @include breakpoint($medium) {
    // font-size: 18px;
    font-size: 16px;
  }

  @include breakpoint($large) {
    // font-size: 20px;
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    // font-size: 22px;
    font-size: 20px;
  }
}
