.theme__toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  height: $nav-toggle-height;
  border: 0;
  outline: none;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: mix(#000, $primary-color, 25%);
  }
}
