{% assign path_segments = page.url | split: '/' %}
{% assign crumb_path = '/' %}
<nav class="breadcrumbs">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    {% assign index = 1 %}
    {% for segment in path_segments %}
      {% if forloop.first %}
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem">
          <a href="{{ '/' | relative_url }}" itemprop="item">
            <span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span>
          </a>

          <meta itemprop="position" content="{{ index }}" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% elsif forloop.last %}
        {% if page.title %}
          <li class="current">{{ page.title }}</li>
        {% else %}
          <span itemprop="name">{{ segment | url_decode | replace: '-', ' ' | capitalize }}</span>
        {% endif %}
      {% else %}
        {% assign crumb_path = crumb_path | append: segment | append: '/' %}
        {% assign index = index | plus: 1 %}
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem">
          <a href="{{ crumb_path | relative_url }}" itemprop="item">
            <span itemprop="name">{{ segment | url_decode | replace: '-', ' ' | capitalize }}</span>
          </a>
          <meta itemprop="position" content="{{ index }}" />
        </li>
        <span class="sep">{{ site.data.ui-text[site.locale].breadcrumb_separator | default: "/" }}</span>
      {% endif %}
    {% endfor %}
  </ol>
</nav>