---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.taxonomy__title_tagcat {
  display: none;
  margin-bottom: 0.5em;
  color: $muted-text-color;

  @include breakpoint($large) {
    display: block;
  }

  @include breakpoint($x-large) {
    display: block;
  }
}

.taxonomy__index_tagcat {
  display: none;
  grid-column-gap: 2em;
  //   grid-template-columns: repeat(2, 1fr);
  margin: 1.414em 0;
  padding: 0;
  font-size: 0.75em;
  list-style: none;

  @include breakpoint($large) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  @include breakpoint($x-large) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25em 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid $border-color;
  }
}
